<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 nb" />
    <link rel="stylesheet" type="text/css" href="/styles1.css" />
    <title>carros</title>
  </head>

  <body>
     <!--NAVBAR-->
     <header>

      <nav>
        <h1 class="logo">Canezin AUTOMOTIVE</h1>
        <ul class="nav-list">
          <li class="logo-link">Início</li>
          <li class="logo-link">Sobre</li>
          <li class="logo-link">Veículos</li>
          <li class="logo-link">Contato</li>
        </ul>
        <!--Linhas menu-->
        <div class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

      </nav>

     </header>
     

    <%for(let produto of produtos){ %> 
      <h1>JOAO</h1>
    <% } %>

    <!--LISTAGEM DE PRODUTOS-->
    <div class="container">
      <!--Card 1-->
      <div class="card card-1">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 1-->





      <!--Card 2-->
      <div class="card card-2">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 2-->





      <!--Card 3-->
      <div class="card card-3">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 3-->





      <!--Card 4-->
      <div class="card card-4">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 4-->





      <!--Card 5-->
      <div class="card card-5">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 5-->






      <!--Card 6-->
      <div class="card card-6">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 6-->






      <!--Card 7-->
      <div class="card card-7">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 7-->




      
      <!--Card 8-->
      <div class="card card-8">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 8-->





      <!--Card 9-->
      <div class="card card-9">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 9-->  
      
      



      <!--Card 10-->
      <div class="card card-10">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 10-->     
      
      



      <!--Card 11-->
      <div class="card card-11">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 11-->    
      
      



      <!--Card 12-->
      <div class="card card-12">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 12-->      





      <!--Card 13-->
      <div class="card card-13">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 13-->





      <!--Card 14-->
      <div class="card card-14">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 14-->  
      
      



      <!--Card 15-->
      <div class="card card-15">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 15-->





      <!--Card 16-->
      <div class="card card-16">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 16-->





      <!--Card 17-->
      <div class="card card-17">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 17-->





      <!--Card 18-->
      <div class="card card-18">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 18-->





      <!--Card 19-->
      <div class="card card-19">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 19-->





      <!--Card 20-->
      <div class="card card-20">
        <!--card-header-->
        <div class="card-header">
          <a href="/produtos">
            <img
              src="/imagem/carro1.avif"
              class="card-img"
              alt="IMG-1 Onix Sedan"
            />
          </a>
        </div>
        <!--/card-header-->

        <!--card-body-->
        <div class="card-body">
          <h3 class="card-local">Onix 1.0 Sedan</h3>
          <h2 class="carda-titulo">R$ 82.950</h2>
        </div>
        <!--/card-body-->

        <!--card-footer-->
        <div class="card-footer">
          <a href="/produtos">Ver mais</a>
        </div>
        <!--/card-footer-->
      </div>
      <!--/Card 20-->
    





    <!--Card 21-->
    <div class="card card-21">
      <!--card-header-->
      <div class="card-header">
        <a href="/produtos">
          <img
            src="/imagem/carro1.avif"
            class="card-img"
            alt="IMG-1 Onix Sedan"
          />
        </a>
      </div>
      <!--/card-header-->

      <!--card-body-->
      <div class="card-body">
        <h3 class="card-local">Onix 1.0 Sedan</h3>
        <h2 class="carda-titulo">R$ 82.950</h2>
      </div>
      <!--/card-body-->

      <!--card-footer-->
      <div class="card-footer">
        <a href="/produtos">Ver mais</a>
      </div>
      <!--/card-footer-->
    </div>
    <!--/Card 21-->





    <!--Card 22-->
    <div class="card card-22">
      <!--card-header-->
      <div class="card-header">
        <a href="/produtos">
          <img
            src="/imagem/carro1.avif"
            class="card-img"
            alt="IMG-1 Onix Sedan"
          />
        </a>
      </div>
      <!--/card-header-->

      <!--card-body-->
      <div class="card-body">
        <h3 class="card-local">Onix 1.0 Sedan</h3>
        <h2 class="carda-titulo">R$ 82.950</h2>
      </div>
      <!--/card-body-->

      <!--card-footer-->
      <div class="card-footer">
        <a href="/produtos">Ver mais</a>
      </div>
      <!--/card-footer-->
    </div>
    <!--/Card 22-->





    <!--Card 23-->
    <div class="card card-23">
      <!--card-header-->
      <div class="card-header">
        <a href="/produtos">
          <img
            src="/imagem/carro1.avif"
            class="card-img"
            alt="IMG-1 Onix Sedan"
          />
        </a>
      </div>
      <!--/card-header-->

      <!--card-body-->
      <div class="card-body">
        <h3 class="card-local">Onix 1.0 Sedan</h3>
        <h2 class="carda-titulo">R$ 82.950</h2>
      </div>
      <!--/card-body-->

      <!--card-footer-->
      <div class="card-footer">
        <a href="/produtos">Ver mais</a>
      </div>
      <!--/card-footer-->
    </div>
    <!--/Card 23--> 
    
    



    <!--Card 24-->
    <div class="card card-24">
      <!--card-header-->
      <div class="card-header">
        <a href="/produtos">
          <img
            src="/imagem/carro1.avif"
            class="card-img"
            alt="IMG-1 Onix Sedan"
          />
        </a>
      </div>
      <!--/card-header-->

      <!--card-body-->
      <div class="card-body">
        <h3 class="card-local">Onix 1.0 Sedan</h3>
        <h2 class="carda-titulo">R$ 82.950</h2>
      </div>
      <!--/card-body-->

      <!--card-footer-->
      <div class="card-footer">
        <a href="/produtos">Ver mais</a>
      </div>
      <!--/card-footer-->
    </div>
    <!--/Card 24-->





    <!--Card 25-->
    <div class="card card-25">
      <!--card-header-->
      <div class="card-header">
        <a href="/produtos">
          <img
            src="/imagem/carro1.avif"
            class="card-img"
            alt="IMG-1 Onix Sedan"
          />
        </a>
      </div>
      <!--/card-header-->

      <!--card-body-->
      <div class="card-body">
        <h3 class="card-local">Onix 1.0 Sedan</h3>
        <h2 class="carda-titulo">R$ 82.950</h2>
      </div>
      <!--/card-body-->

      <!--card-footer-->
      <div class="card-footer">
        <a href="/produtos">Ver mais</a>
      </div>
      <!--/card-footer-->
    </div>
    <!--/Card 25-->    
  </div>  



  </body>
</html>
